body{
    margin: 0;
}
section
{
    min-height: 100vh;
}
h1{
    margin-top: 300px;
    color: black;
}
.blackBackground
{
    background-color: black;
    min-height: 100vh;
    color: white;
}

#name{
    /*padding-top:400px*/
}

.whiteCircle
{
    background-color : white;
    border-radius: 50%;
    margin: 0 auto;
    /*padding-top: 10vh;*/
    position: relative;
    height:70vh;
    width:70vh;
    /*display: block;*/
/*    min-height: 50vh;*/
    /*min-width: 50vh;*/
/*    z-index: 2;*/
    /*margin-top: 25vh;*/
    /*border: solid 2px;*/
    /*border-color: black;*/
/*    text-align: center;*/
/*    opacity: 1;*/
}

/*image de fond*/
.backgroundPicture 
{
/*    background-image:url("../images/background.jpeg");      /*chemin de l'image choisie'*/
    /*background-size: cover;                                 /**/
    /*background-repeat: no-repeat;                           /**/
    /*background-position: center;                            /**/
    /*background-attachment: fixed;                           /*fixée à l'arrière plan, même en cas de défilement*/
    /*min-height: 100vh;*/
/*    z-index: 1;*/
/*    opacity:0.2;*/
    /*border: solid 2px;*/
/*    border-color: red;*/
/*    filter: blur(20px);*/
/*    filter: grayscale(1);*/
    /*filter: opacity(.2);*/
}
.entravaux
{
    height: 500px;
    width: auto;
}

#accueil
{
    border: solid 2px;
    border-color: red;
}

#formation
{
    border: solid 2px;
    border-color: blue;
}

#experience
{
    border: solid 2px;
    border-color: green;
}

#portfolio
{
    border: solid 2px;
    border-color: yellow;
}

#contact
{
    border: solid 2px;
    border-color: purple;
}
























/* section #sbeVersionsGraph
{
    height: none;
} */

/* div.movableContainer {
    padding: auto;
    width: 30%; height: 400;
    border : 1px solid rgb(47, 0, 255)
} */

/* div.graphContainer {
    margin: 10%;
    padding: 2%;
    width: 80%; height: auto;
    position: relative;
    border : 1px solid rgb(255, 0, 0); 
} */


/* 
canvas {
    width: 300px;
    height: 300px;
} */

/* #sbeDispoGraph
{
	width: 300px; 
	margin: 0 auto
}*/
/* #container3 {
	width: 800px;
	margin: 0 auto
}
#sbeDispoGraph {
	width: 350px;
    max-height: 400px;
	margin: 0 auto
} */